.head {
  padding: 20px 0;
  color: #fff;
}
.logo h1  {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}
.logo span{
text-transform: uppercase;
}
.head .icon {
  margin-left: 10px;
}
.container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.flexSb{
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #1eb2a6;
  transition: 0.5s;
}

.icon:hover{
  cursor:pointer;
  background-color: #1eb2a6;
  color: white;
}



/* Header */
.header{
  
  background: rgba(255, 255, 255, 0.2);
  margin: 0 30px;
}
.header ul{
  padding: 30px 20px;
}
.header li{
  margin-right:40px ;
  list-style: none;
}
.header ul li a{
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}
.header ul li a:hover{
  color: #1eb2a6;
}
.start{
  background-color: #1eb2a6;
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}
