.heading{
 text-align: center;
 padding: 40px 0;
 text-align: left;
 margin: 0;
 padding: 0;
}
.heading h3{
 font-weight: 600;
 letter-spacing: 1px;
 color:#fff;
 text-transform: uppercase;
}

.heading h1{
 font-size: 45px;
 margin: 20px 0;
 text-transform: capitalize;
 
}
.heading p{
 line-height: 30px;
 font-size: 18px;
}
